#useDynLib(VRAPS, .registration=TRUE)
useDynLib(VRAPS)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

## export functions
export(
GetInput,
WriteRavFile,
RunSims2C,
RunSims2R,
WriteReport2
)

## register S3 methods

## Imports
import(doParallel)
import(stringr)
importFrom(shiny, runApp)
importFrom("stats","rgamma","rnorm")
importFrom("utils", "packageVersion", "read.table", "txtProgressBar")
